body{

font-family:Arial;
margin:0;
background:#f4f4f4;

}

nav{

display:flex;
justify-content:center;
gap:30px;
background:black;
padding:15px;

}

nav a{

color:white;
text-decoration:none;

}

.products{

display:grid;
grid-template-columns:repeat(2,1fr);
gap:20px;
padding:20px;

}

.card{

background:white;
padding:20px;
text-align:center;
border-radius:10px;

}

.card img{

width:150px;

}

button{

padding:10px 20px;
background:green;
color:white;
border:none;
cursor:pointer;

}